body {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  overflow-x: hidden;
}

.header {
  overflow: hidden;
  background-color: rgba(250, 165, 225, 0.6);
  padding: 4px 4px;
  border-bottom: 1px solid black;
  font-family: "Pacifico", cursive;
  font-size: 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: wavy;
  font-size: 16px;
  line-height: 25px;
  border-radius: 4px;
  margin-top: 6px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */

.log {
  height: 63px;
  width: 90px;
  margin-left: 20px;
  background-color: rgb(255, 255, 255, 0.9);
  border: 2px dotted black;
  border-radius: 4px;
}
/* Change the background color on mouse-over */
.header a:hover {
  background-color: rgb(77, 157, 232);
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: rgb(77, 157, 232);
  color: white;
  border: 1px solid black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.text-center {
  font-size: 13px;
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  height: 23px;
  padding-top: 5px;
  border-top: 1px solid black;
  text-align: center;
  background-color: rgba(250, 165, 225, 0.6);
}
.foot {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
footer {
  overflow: hidden;
}

/*here is where the specific CSS begins!*/

.home-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  word-wrap: break-word;
  text-align: center;
  width: 655px;
  font-family: "Pacifico", cursive;
  font-weight: 200;
  line-height: 2;
}

.mainPageImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.homeBoudoir {
  height: 400px;
  width: 270px;
  padding: 6px;
}

.positionForm {
  padding: 0px;
  margin: 0;
  min-height: 100%;
}
#contactHead {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  color: #000000;
  margin: 0 0 20px;
  text-align: center;
  text-decoration: underline;
  font-size: 35px;
}
.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
form {
  border: 1px solid black;
  display: block;
  padding: 25px;
  margin: 25px;
  box-shadow: 0 2px 5px #f5f5f5;
  background: #ecc7c7;
  border-radius: 15px;
  font-family: "Pacifico", cursive;
  text-align: center;
  width: 50%;
}
input,
textarea {
  width: calc(100% - 18px);
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid #1c87c9;
  font-family: "Pacifico", cursive;
  border-radius: 10px;
  outline: none;
  color: #1c87c9;
}
input::placeholder {
  color: #666;
  font-family: "Pacifico", cursive;
}
.subButtonPos {
  text-align: center;
}
.subButton {
  width: 60%;
  padding: 10px;
  border: 1px solid black;
  background: #1c87c9;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border-radius: 10px;
  font-family: "Pacifico", cursive;
  text-align: center;
}
.subButton:hover {
  background: #2371a0;
}
.apptText {
  text-align: center;
  font-family: "Pacifico", cursive;
  text-decoration: none;
}
