{% extends "base.html.jinja" %}

{% block title %}appointment views{% endblock title %}
{%set active_page = 'appt'%}

{% block content %}


<div class="appointments-list">
    <h1 style="text-decoration:underline">Appointments Booked</h1>
    <h2> Confirmed appointments: </h2>

    {% set ns = namespace(confirmed_appts = "none") %}

    {% for appointment in appointments %}
        {% if appointment.confirmed == True and appointment.completed == False %}
            {% set ns.confirmed_appts = "non empty" %}
            <div class="appointment-container">
                {% if is_photographer %}
                    <h4>Client's Email: {{ appointment['client_email'] }}</h4>
                {% else %}
                    <h4>Photographer's Email: <a href="{{ url_for('core.gallery', email=appointment['photographer_email']) }}">{{ appointment['photographer_email'] }}</a></h4>
                {% endif %}
                <p style="font-size:13px"><b>Date and time of appointment:<br>{{ appointment['start_time'].strftime("%c") }} - {{ appointment['end_time'].strftime("%c")}}</b></p>
                <p>Total Cost: <b>${{ appointment['pricing']}}</b></p>
                <p>Packages Chosen: <b>{{ appointment['items'] }}</b></p>
                <br>
                <a style="padding:5px; text-decoration:none" class = "subButton" href="{{ url_for('core.invoice', appointment_id=appointment.id, client_name=appointment.client_name) }}">Show Invoice</a>
                <br>
                <br>
                {% if is_photographer %}
                    <form action="{{ url_for('core.complete_appt', appointment_id=appointment.id) }}" method="post">
                        <input style="width:100px; padding:5px; text-decoration:none" class = "subButton" type="submit" value="Completed">
                    </form>
                {% endif %}
                <br>
                <form action="{{ url_for('core.delete_appt', appointment_id=appointment.id) }}" method="post">
                    <input style="padding:5px; text-decoration:none" class = "subButton" type="submit" value="Cancel">
                </form>
            </div>
        {% endif %}
    {% endfor %}
    {% if ns.confirmed_appts == "none" %}
        No appointments have been confirmed at this time.
    {% endif %}

    <h2> Waiting for confirmation: </h2>

    {% set ns = namespace(unconfirmed_appts = "none") %}
    {% for appointment in appointments %}
        {% if appointment.confirmed == False and appointment.completed == False %}
            {% set ns.unconfirmed_appts = "non empty" %}
            <div class="appointment-container">
                {% if is_photographer %}
                    <h4>Client's Email: {{ appointment['client_email'] }}</h4>
                {% else %}
                    <h4>Photographer's Email: <a href="{{ url_for('core.gallery', email=appointment['photographer_email']) }}">{{ appointment['photographer_email'] }}</a></h4>
                {% endif %}
                <p style="font-size:13px"><b>Date and time of appointment:<br>{{ appointment['start_time'].strftime("%c") }} - {{ appointment['end_time'].strftime("%c")}}</b></p>
                <p>Total Cost: <b>${{ appointment['pricing']}}</b></p>
                <p>Packages Chosen: <b>{{ appointment['items'] }}</b></p>
                <br>
                {% if is_photographer %}
                    <form action="{{ url_for('core.confirm_appt', appointment_id=appointment.id) }}" method="post">
                        <input style="padding:5px; text-decoration:none" class = "subButton" type="submit" value="Confirm">
                    </form>
                {% endif %}
                <form action="{{ url_for('core.delete_appt', appointment_id=appointment.id) }}" method="post">
                    <input style="padding:5px; text-decoration:none" class = "subButton" type="submit" value="Cancel">
                </form>
            </div>
        {% endif %}
    {% endfor %}

    {% if ns.unconfirmed_appts == "none" %}
        No appointments are waiting for confirmation.
        {% if not is_photographer %}
            <a href="{{ url_for('core.photographers', next="book") }}">Set up an appointment here!</a>
        {% endif %}
    {% endif %}

    <h2> Completed appointments: </h2>

    {% set ns = namespace(confirmed_appts = "none") %}

    {% for appointment in appointments %}
        {% if appointment.completed == True %}
            {% set ns.confirmed_appts = "non empty" %}
            <div class="appointment-container">
                {% if is_photographer %}
                    <h4>Client's Email: {{ appointment['client_email'] }}</h4>
                {% else %}
                    <h4>Photographer's Email: <a href="{{ url_for('core.gallery', email=appointment['photographer_email']) }}">{{ appointment['photographer_email'] }}</a></h4>
                {% endif %}
                <p style="font-size:13px"><b>Date and time of appointment:<br>{{ appointment['start_time'].strftime("%c") }} - {{ appointment['end_time'].strftime("%c")}}</b></p>
                <p>Total Cost: <b>${{ appointment['pricing']}}</b></p>
                <p>Packages Chosen: <b>{{ appointment['items'] }}</b></p>
                <br>
                <a style="padding:5px; text-decoration:none" class = "subButton" href="{{ url_for('core.invoice', appointment_id=appointment.id) }}">Preview Invoice</a>
                <br>
                <br>
                {% if user_type=="client" %}
                    <form action="{{ url_for('core.confirm_appt', appointment_id=appointment.id) }}" method="post">
                        <a style="padding:5px; text-decoration:none" class = "subButton" href="{{ url_for('core.feedback', invoice_id=appointment.id, client_name=appointment.client_name) }}">Feedback</a>
                    </form>
                {% endif %}
                <br>
                <br>
                <form action="{{ url_for('core.delete_appt', appointment_id=appointment.id) }}" method="post">
                    <input style="padding:5px; text-decoration:none" class = "subButton" type="submit" value="Cancel">
                </form>
            </div>
        {% endif %}
    {% endfor %}

</div>
{% endblock %}