{% extends "base.html.jinja" %}

{% block title %}appointment views{% endblock title %}
{%set active_page = 'appt'%}

{% block content %}



<div class="appointments-list">
    <h1 style="text-decoration:underline">Appointments Booked</h1>
    <h2> Confirmed appointments: </h2>

    {% set ns = namespace(confirmed_appts = False, completed_appts = False, unconfirmed_appts = "False") %}

    {% for appointment in appointments %}
        {% if appointment.completed %}
            {% set ns.completed_appts = "True" %}
        {% endif %}
        {% if appointment.confirmed and not appointment.completed %}
            {% set ns.confirmed_appts = "True" %}
            <div class="appointment-container">
                {% if is_photographer %}
                    <h4>Client's Email: {{ appointment['client_email'] }}</h4>
                {% else %}
                    <h4>Photographer's Email: <a href="{{ url_for('core.gallery', email=appointment['photographer_email']) }}">{{ appointment['photographer_email'] }}</a></h4>
                {% endif %}
                <p style="font-size:13px"><b>Date and time of appointment:<br>{{ appointment['start_time'].strftime("%c") }} - {{ appointment['end_time'].strftime("%c")}}</b></p>
                <p>Total Cost: <b>${{ appointment['pricing']}}</b></p>
                <p>Packages Chosen: <b>{{ appointment['items'] }}</b></p>
                <br>
                <a style="padding:5px; text-decoration:none" class = "subButton" href="{{ url_for('core.invoice', appointment_id=appointment.id, client_name=appointment.client_name) }}">Show Invoice</a>
                <br>
                {% if is_photographer %}
                    <br>
                    <form action="{{ url_for('core.complete_appt', appointment_id=appointment.id) }}" method="post">
                        <input style="width:140px; padding:5px; text-decoration:none" class = "subButton" type="submit" value="Mark Completed">
                    </form>
                {% endif %}
                <br>
                <form action="{{ url_for('core.delete_appt', appointment_id=appointment.id) }}" method="post">
                    <input style="padding:5px; text-decoration:none" class = "subButton" type="submit" value="Cancel">
                </form>
            </div>
        {% endif %}
    {% endfor %}
    {% if not ns.confirmed_appts %}
        No appointments have been confirmed at this time.
    {% endif %}

    {% set n = namespace(unconfirmed_appts = "False") %}


    <h2> Waiting for confirmation: </h2>

    {% for appointment in appointments %}
        {% if not appointment.confirmed and not appointment.completed %}
            {% set n.unconfirmed_appts = "True" %}
            <div class="appointment-container">
                {% if is_photographer %}
                    <h4>Client's Email: {{ appointment['client_email'] }}</h4>
                {% else %}
                    <h4>Photographer's Email: <a href="{{ url_for('core.gallery', email=appointment['photographer_email']) }}">{{ appointment['photographer_email'] }}</a></h4>
                {% endif %}
                <p style="font-size:13px"><b>Date and time of appointment:<br>{{ appointment['start_time'].strftime("%c") }} - {{ appointment['end_time'].strftime("%c")}}</b></p>
                <p>Total Cost: <b>${{ appointment['pricing']}}</b></p>
                <p>Packages Chosen: <b>{{ appointment['items'] }}</b></p>
                <br>
                {% if is_photographer %}
                    <form action="{{ url_for('core.confirm_appt', appointment_id=appointment.id) }}" method="post">
                        <input style="padding:5px; text-decoration:none" class = "subButton" type="submit" value="Confirm">
                    </form>
                {% endif %}
                <form action="{{ url_for('core.delete_appt', appointment_id=appointment.id) }}" method="post">
                    <input style="padding:5px; text-decoration:none" class = "subButton" type="submit" value="Cancel">
                </form>
            </div>
        {% endif %}
    {% endfor %}

    {% if not n.unconfirmed_appts %}
        No appointments are waiting for confirmation.
        {% if not is_photographer %}
            <a href="{{ url_for('core.photographers', next="book") }}">Set up an appointment here!</a>
        {% endif %}
    {% endif %}

    {% if ns.completed_appts %}
        <h2> Completed appointments: </h2>

        {% for appointment in appointments %}
            {% if appointment.completed %}
                {% set ns.confirmed_appts = "True" %}
                <div class="appointment-container">
                    {% if is_photographer %}
                        <h4>Client's Email: {{ appointment['client_email'] }}</h4>
                    {% else %}
                        <h4>Photographer's Email: <a href="{{ url_for('core.gallery', email=appointment['photographer_email']) }}">{{ appointment['photographer_email'] }}</a></h4>
                    {% endif %}
                    <p style="font-size:13px"><b>Date and time of appointment:<br>{{ appointment['start_time'].strftime("%c") }} - {{ appointment['end_time'].strftime("%c")}}</b></p>
                    <p>Total Cost: <b>${{ appointment['pricing']}}</b></p>
                    <p>Packages Chosen: <b>{{ appointment['items'] }}</b></p>
                    <br>
                    <a style="padding:5px; text-decoration:none" class = "subButton" href="{{ url_for('core.invoice', appointment_id=appointment.id) }}">Show Invoice</a>
                    <br>
                    <br>
                    {% if is_photographer %}
                        <form action="{{ url_for('core.confirm_appt', appointment_id=appointment.id) }}" method="post">
                            <a style="padding:5px; text-decoration:none" class = "subButton" href="{{ url_for('core.add_client_album', appt_id=appointment.id) }}">Upload Photos</a>
                        </form>
                    {% else %}
                        <form action="{{ url_for('core.confirm_appt', appointment_id=appointment.id) }}" method="post">
                            <a style="padding:5px; text-decoration:none" class = "subButton" href="{{ url_for('core.invoice', appointment_id=appointment.id) }}">Feedback</a>
                        </form>
                    {% endif %}
                    <br>
                    <br>
                    <form action="{{ url_for('core.delete_appt', appointment_id=appointment.id) }}" method="post">
                        <input style="padding:5px; text-decoration:none" class = "subButton" type="submit" value="Cancel">
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}