<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <a href="{{ url_for('core.home') }}">home</a>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>