{% extends "base.html.jinja" %}

{% block title %}booking{% endblock title %}

{% block content %}
booking with {{ photographer.name }}
<div class="booking-container">
    photographer's available times:
    <form method="post">
    {% for available_time in available_times %}
        <div class="available-time">
            <input type="radio" name="time_id" id="selected_time" value="{{ available_time.id }}">
            <label for="selected_time">{{ available_time.start_parsed.strftime("%c") }} - {{ available_time.end_parsed.strftime("%c") }}</label>
        </div>
    {% endfor %}

    <label for="package">select your package:</label>
    <select name="package_id" id="package">
        {% for package in packages %}
            <option value="{{package.id}}">{{package.items}} - ${{package.pricing}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="book!">
    </form>
</div>
{% endblock content %}
