{% extends "base.html.jinja" %}

{% block title %}contact {{ photographer.name }}{% endblock %}

{% block content %}
<section class="contact-photographer">
    <h3>contact {{ photographer.name }}!</h3>
    <div class="contact-form">
        <form method="post">
            <label for="message">ask the photographer a question!</label>
            <input type="text" name="message" id="message" required>
            <input type="submit" value="contact">
        </form>
    </div>
</section>
{% endblock content %}