{% extends "base.html.jinja" %}

{% block title %}
feedback
{% endblock title %}

{% block content %}

{% if feedback_exists %}
<br>
<br>
<h1 id="contactHead">you have already submitted feedback for this appointment!</h1>
{% else %}
<div class="main-block">
    <form method="post">
        <label for="message" id="contactHead">Leave some feedback for your session!</label>
        <br>
        <br>
        <textarea style="float:left; margin-top:10px" name="message" rows="10" cols="3" id="message" required></textarea>
        <div class="subButtonPos">
            <input class = "subButton" style = "width:15%; padding:6px; margin-top: 20px" type="submit" value="send">
        </div>
    </form>
</div>
{% endif %}
{% endblock content %}