{% extends "base.html.jinja" %}

{% block title %}
feedback
{% endblock title %}

{% block content %}

{% if feedback_exists %}
<p>you have already submitted feedback for this appointment!</p>
{% else %}
<div class="feedback-form">
    <form method="post">
        <label for="message">leave some feedback for your appointment</label>
        <input type="text" name="message" id="message" required>
        <input type="submit" value="send">
    </form>
</div>
{% endif %}
{% endblock content %}