{% extends "base.html.jinja" %}


{% block title %}Gallery{% endblock %}

{% block content %}

<div class="gallery-container">
    <h1 style="font-size: 40px">{{ photographer.name }}'s Gallery</h1>

    {% if session.get(EMAIL_SESSION_KEY) %}
        <section class="booking">
            {# TODO #}
            <a href="#">contact</a>
            <a href="{{ url_for('core.book', photographer_email=photographer.email) }}">book a session!</a>
        </section>
    {% else %}
        <p>register to book with this photographer!</p>
    {% endif %}


    <section class="albums">
    {% for album in albums %}
        <div class="album-container">
            <h2 style="font-size: 30px; margin-bottom: 5px"> {{ album.name }} </h2>
            {{ album.type }} {{ album.release_type }}
            <div class="photos-container">
            {% for photo in album.photos %}
                    {{ photo.id }} {{ photo.pathname }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </section>
</div>
{% endblock %}


