{% extends 'base.html.jinja' %}

{% block title %} home! {% endblock %}

{% block content %}
welcome to home!

{% if session.get(EMAIL_SESSION_KEY) %}
    <a href="{{ url_for('core.logout') }}">logout</a>
    {% if is_photographer %}
    <a href="{{ url_for('core.profile') }}">profile</a>
    {% endif %}
{% else %}
    <a href="{{ url_for('core.register') }}">register</a>
    <a href="{{ url_for('core.login') }}">login</a>
{% endif %}

<div class="photographers-list">
    {% for photographer in photographers %}
        <a href="{{ url_for('core.photographer', email=photographer['email']) }}">{{ photographer.name }}</a>
    {% endfor %}
</div>
{% endblock %}
