{% extends 'base.html.jinja' %}

{% block title %} home! {% endblock %}

{% block content %}
welcome to home!

{% if session.get(EMAIL_SESSION_KEY) %}
    <a href="{{ url_for('core.logout') }}">logout</a>
    {% if is_photographer %}
    <a href="{{ url_for('core.profile') }}">profile</a>
    {% endif %}
{% else %}
    <a href="{{ url_for('core.register') }}">register</a>
    <a href="{{ url_for('core.login') }}">login</a>
{% endif %}

{% if not is_photographer %}
<div class="photographers-list">
    <h3>photographers</h3>
    {% for photographer in photographers %}
        <a href="{{ url_for('core.photographer', email=photographer['email']) }}">{{ photographer.name }}</a>
    {% endfor %}
</div>
{% endif %}
<div class="appointments-list">
    <h3>appointments</h3>
    {% for appointment in appointments %}
        <div class="appointment-container">
            {% if is_photographer %}
                <h4>{{ appointment['client_email'] }}</h4>
            {% else %}
                <h4><a href="{{ url_for('core.photographer', email=appointment['photographer_email']) }}">{{ appointment['photographer_email'] }}</a></h4>
            {% endif %}
            <p>{{ appointment['start_time'].strftime("%c") }} - {{ appointment['end_time'].strftime("%c")}}</p>
            <p>${{ appointment['pricing']}}</p>
            <p>package content: {{ appointment['items'] }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
