{% extends 'base.html.jinja' %}

{% block title %} home! {% endblock %}
{%set active_page = 'home'%}

{% block content %}
<div class = "home-container">
    <h2 style="letter-spacing:1px; text-decoration:underline">Photography For The Adventurous</h2>
    <p>_________</p>
    <div>
        <p style="line-height: 2.5">
        Photography 471 is at your service for all your phototaking needs, specializing
        in the great outdoors. Book us to photograph and memorialize your carefully planned gardens,
        or capture your most cherished memories such as weddings and birthdays.
        </p>
        <br>
        <p style="font-size:15px"><i>“When words become unclear, I shall focus with photographs.
         When images become inadequate, I shall be content with silence.”</i></p>

        <p style="font-size:12px"><i>Ansel Adams</i></p>
    </div>
</div>
<br>
<div class = "mainPageImages">
    <img class="homeImg" src={{url_for('static', filename='flower1.jpg')}}>
    <img class="homeImg" src={{url_for('static', filename='flower2.jpg')}}>
    <img class="homeImg" src={{url_for('static', filename='flower3.jpg')}}>
</div>
{% endblock %}
