{% extends "base.html.jinja" %}

{% block title %}invoice{% endblock title %}

{% block content %}
<h2>invoice</h2>
<p>photographer: {{ photographer.name }} ({{ photographer.email }})</p>
<p>date: {{ invoice.parsed_date.strftime("%c") }}</p>
<p>price: ${{ invoice.total_cost }}</p>
<p>costs: {{ invoice.cost }}</p>
{% endblock content %}
