{% extends "base.html.jinja" %}

{% block title %} login {% endblock %}
{%set active_page = 'login'%}
{% block content %}
{% with messages=get_flashed_messages() %}
    {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<div class="positionForm">
    <div class="main-block">
        <form method="post">
            <h3 id="contactHead">Login</h3>
            <label style="float:left; padding-left:20px" for="email">Email: &nbsp;</label>
            <input style="width:86%" type="email" name="email" id="email" required><span>&nbsp;&nbsp;</span>
            <br>
            <label style="float:left; padding-left:20px" for="phone_number">Password: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input style="width:78%; float: left" size="20" maxlength="20" type="text" name="password" id="password" required>
            <br>
            <br>
            <div class="subButtonPos">
                <input class = "subButton" type="submit" value="login">
            </div>
        </form>
        <a  href="{{ url_for('core.register') }}">Need an account? Sign up here!</a>
    </div>
</div>
{% endblock %}
