{% extends "base.html.jinja" %}

{% block title %} login {% endblock %}

{% block content %}
{% with messages=get_flashed_messages() %}
    {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<div class="positionForm">
    <div class="main-block">
        <form method="post">
            <h3 id="contactHead">Login</h3>
            <label  style="float:left; padding-left:20px" for="email">Email:</label>
            <input style="width:80%" type="email" name="email" id="email" required>
            <label style="float:left; padding-left:20px" for="password">Password:</label>
            <input style="width:76%" type="password" name="password" id="password" required>
            <br>
            <br>
            <div class="subButtonPos">
                <input class = "subButton" type="submit" value="login">
            </div>
        </form>
    </div>
</div>
{% endblock %}
