{% extends "base.html.jinja" %}

{% block title %} login {% endblock %}

{% block content %}
{% with messages=get_flashed_messages() %}
    {% if messages %}
        <div class="messages-container">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<form method="post">
    <label for="email">email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="login">
</form>
{% endblock %}
