{% extends 'base.html.jinja' %}

{% block title %} register {% endblock %}

{% block content %}

{% if error %}
<div class="error">
{{ error }}
</div>
{% endif %}
<div class="positionForm">
    <div class="main-block">
        <form method="post">
            <h1 id="contactHead">  Sign up!  </h1>
            <br>
            <label style="float:left; padding-left:20px" for="name">Name:&nbsp;</label>
            <input style="width:29%" size="20" maxlength="20" type="text" name="name" id="name" required>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <label style="float:center; padding-left:10px" for="password">Password:&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input style="width:28%" size="20" maxlength="20" type="password" name="password" id="password" required>
            <br>
            <br>
            <label style="float:left; padding-left:20px" for="email">Email: &nbsp;</label>
            <input style="width:80%" type="email" name="email" id="email" required><span>&nbsp;&nbsp;</span>
            <br>
            <br>
            <label style="float:left; padding-left:20px" for="phone_number">Phone Number: &nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input style="width:71%; float: left" size="20" maxlength="20" type="text" name="phone_number" id="phone_number" required>
            <br>
            <br>
            <div class="subButtonPos">
                <input class = "subButton" type="submit" value="register"></input>
            </div>
        </form>
    </div>
</div>    
{% endblock %}