{% extends 'base.html.jinja' %}

{% block title %} register {% endblock %}

{% block content %}

{% if error %}
<div class="error">
{{ error }}
</div>
{% endif %}

<form method="post">
    <label for="email">email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">password</label>
    <input type="password" name="password" id="password" required>
    <label for="name">name</label>
    <input type="text" name="name" id="name" required>
    <label for="phone_number">phone number</label>
    <input type="text" name="phone_number" id="phone_number" required>
    <div class="user_type_selector">
    <label for="user_type">user type</label>
        {% for user_type_option in USER_TYPES %}
            <input type="radio" name="user_type" id="{{ user_type_option }}" value="{{ user_type_option }}">{{user_type_option}}</input> 
        {% endfor %}
    </div>
    <input type="submit" value="register">
</form>
{% endblock %}